@tailwind base;
@tailwind components;
@tailwind utilities;

a.link {
  color: rgb(0, 107, 230);
  text-decoration: underline;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  color: #11181c;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(4px);
  }

  70% {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0);
  }
}

.nextra-code > pre {
  box-shadow: none;
  max-height: 400px;
}

.nextra-code button[title='Copy code'] {
  color: white;
}
