name: Release

on:
  push:
    paths:
      - '.changeset/**'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets-publish.outputs.published }}
      pull_request_number: ${{ steps.changesets-create-pr.outputs.pullRequestNumber }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/common-actions/install

      - name: Build
        id: build
        continue-on-error: false
        # Custom turbo build failure information
        run: |
          pnpm build & pnpm build:cli || {
            echo "Turbo build failed with exit code $?"
            exit 1
          }

      - name: Create PR
        id: changesets-create-pr
        if: steps.build.outcome == 'success'
        uses: changesets/action@v1
        with:
          version: pnpm run version
          title: 'ci(changesets): version packages'
          commit: 'ci(changesets): version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to NPM
        if: "${{steps.changesets-create-pr.outputs.hasChangesets == 'false' && contains(github.event.head_commit.message, 'ci(changesets): version packages')}}"
        uses: changesets/action@v1
        id: changesets-publish
        continue-on-error: false
        with:
          publish: pnpm run release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  call-sync:
    needs: release
    uses: ./.github/workflows/sync-main-to-dev.yml
    if: needs.release.outputs.published == 'true'
    with:
      triggered_by: 'release_workflow'
    secrets: inherit
